body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

hr {
  width: 600px;
  height: 3px;
  background-color: black;
}

.board {
  width: 600px;
  height: 600px;
  background-color: lightgray;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 197px;
  height: 197px;
  font-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal {
  border-bottom: 3px solid black;
}

.vertical {
  border-right: 3px solid black;
}

.winner {
  background-color: lightpink;
  color: red;
}
